@font-face {
  font-display: swap;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  src: url('../../assets/fonts/barlow-v12-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: url('../../assets/fonts/barlow-v12-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 900;
  src: url('../../assets/fonts/barlow-v12-latin-900.woff2') format('woff2');
}
